{{>headers/contact}}

{{>navbar/nav}}

    <!-- Contact Page -->
    <div class="container-fluid contact" id="contactPage">
        <form>
            <h3 class="text-center" style="color:white;">Contact</h3><br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="col-3"></div>

            </div><br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Organization">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Designation">
                </div>
                <div class="col-3"></div>
            </div><br>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Phone number(optional)">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-3"></div>
            </div><br>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="message">Send a message</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea><br>
                        <button type="submit" class="btn" data-aos="zoom-in" id="submitBtn">Submit</button>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
    <!-- END OF CONTACT PAGE -->

    <!-- Fun Section -->
    <button class="fun" data-toggle="collapse" data-target="#emoji" type="button"> <strong>Click to meet our team members</strong></button>
    <br><br>
    <div id="emoji" class="collapse">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-sm-3 col-md-3">
                    <img class="gif" src="https://www.lifewire.com/thmb/ROC5xD9jkOwXHXms6oA3KzICeAI=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iphonex_animoji_fox-59dd137c03f4020010a60b54.gif" style="width:320px;height:200px;" alt="">
                </div>
                <div class="col-sm-3 col-md-3">
                    <img class="gif" src="https://thumbs.gfycat.com/UltimateGlitteringBear-max-1mb.gif" style="width:220px;height:180px;" alt="">
                </div>
                <div class="col-sm-3 col-md-3">
                    <img class="gif" src="https://pic.chinesefontdesign.com/uploads/2016/11/chinesefontdesign.com_2016-11-25_08-47-56.gif" style="width:200px;height:170px;" alt="">
                </div>
                <div class="col-sm-3 col-md-3">
                    <img class="gif" src="/styles/images/fox emoji.gif" style="width:250px;height:170px;" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- END OF FUN SECTION -->

    <div class="container-fluid connect">
        <h3 class="text-center connectHeader">Connect</h3>
        <div class="col-12 text-center social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
