<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project 2</title>
    
</head>


</div>
<!-- creating the main header  -->
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Reddi-Gram</h2>
            
            <img src="pic_trulli.jpg" alt="Italian Trulli">

            <img src="pic_trulli.jpg" alt="Italian Trulli">

            <img src="pic_trulli.jpg" alt="Italian Trulli">

            <img src="pic_trulli.jpg" alt="Italian Trulli">
        </div>
    </div>
    <div>
        
         
        </div>

        <div id="like"></div>
<!-- copyright -->
        <div class="footer">
            <p> © Reddi-Gram 2019</p>
        </div>
        </body>
        <script src="assets/javascript/app.js"></script>
        
</html>