
 <link rel="stylesheet" href="/styles/homepage.css">

</head>

<body>
   

    <!-- LOGIN  -->
    <div class="container-fluid funStuff animated fadeIn slow text-center" id="login">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container navbarNavbar2">
                <a class="navbar-brand js-scroll-trigger animated heartBeat" href="">RED-DI-A-GRAM</a>
               
            </div>
        </nav>
      <img src="https://images.thoughtbot.com/blog+animations/animation-direction.gif" width="300" height="300">
        <h2 style="font-weight:400;"> Welcome to Reddigram</h2>
        <p>Join in today and start writing</p>
        <a type="button" href="/auth/google" class="btn loginBtn">Login to get started</a>
    </div>
    <!-- END OF LOGIN -->
