<link rel="stylesheet" href="/styles/homepage.css">

</head>

<body>

    <!-- LANDING IMAGE -->
    <div class="container-fluid landingpage">
        what is inside here ? the image?
        
    </div>
    <!-- END OF landing image -->
   
    <!-- LOGIN  -->
    <div class="container-fluid funStuff animated fadeIn slow text-center" id="login">
        <h2 style="font-weight:400;"> Welcome to Reddigram</h2>
        <p>Join in today and start writing</p>
        <a href="/auth/google/" class="btn loginBtn">Login to get started</a>
    </div>
    <!-- END OF LOGIN -->