
{{>headers/post}}
{{>navbar/nav}}

    <!-- END OF NAVIGATION -->


    <!-- jumbotron header -->
    <div class="jumbotron container mb-0">
        <h1 class="display-1 text-center"></h1>
        <hr class="my-4">
        <div class="container">
            <div style="display:none">
                <input type="text" id="this_user" value="{{userId}}" hidden="">
                <input type="text" id="author" value="{{thisUserName}}" hidden>
            </div>
            <!-- div for the main container holding the form -->
            <div class="container-fluid" id="main-container">
                <section class="main-section text-center">
                    <h1>Post a Reddigram for people to up-vote to the highest heavens or down-vote into oblivion.</h1>
                    <form id="contact-form" class="create-form">
                        <h3>Just upload you image by clicking this tiny little icon bellow</h3>
                        <ul>
                            <li class="center" >
                                <label for="file-upload">
                                    <i class="fas fa-upload"></i></label>
                                <input type="file" id="file-upload" style="display: none">
                                
                            </li>
                            <li>
                                <h3>Then write the story behind this beatiful picture</h3>
                                <label for="caption"></label>
                                <input type="text" id="caption" placeholder="write a caption that captures hearts" required="required">
                            </li>
                            <li class="text-center" >
                                                        <button type="submit" class="btn btn-primary">Submit</button>

                            </li>
                        </ul>
                    </form>

                </section>
            </div>
        </div>
    </div>

