/*-- Global Selectors --*/
a{
  color:#47649F;
}

body{
  font-family:'helvetica';
  background: url(/styles/images/bg.jpg); 
  background-size: cover;   
  background-attachment: fixed;
  background-position-x: -500px;
}

/*-- Content Style --*/
.post-footer-option li{
  float:left;
  margin-right:50px;
  padding-bottom:15px;
}

.post-footer-option li a{
  color:#AFB4BD;
  font-weight:500;
  font-size:1.3rem;
}

.photo-profile{
  border:1px solid #DDD;    
}

.anchor-username h4{
  font-weight:bold;    
}

.anchor-time{
  color:#ADB2BB;
  font-size:1.2rem;
}

.post-footer-comment-wrapper{
  background-color:#F6F7F8;
}

.all{
  display: flex;
  justify-content: center;
}

img{
  width: 400px;
  height: 400px;
}