.loginBtn{
  background: rgb(48,79,146) !important;
  color: white !important;
  border: 1px solid;
  box-shadow: 5px 5px 5px #70707078 ;
  width:200px;
}

.loginBtn:hover{
  background: rgb(213,241,255) !important;
  color: black !important;
  border: 1px solid;
  box-shadow: 5px 5px  #dfdede;
}